<section class="section">
    <div class="section__inner slider--fade-in">
        <h2>Skillset</h2>
        <div class="image-with-text">
            {% for skill_block in site.data.skillset %}
            <div class="image-with-text__block">
                <div class="image-with-text__image-container">
                    <img src="{{ skill_block.image_src }}" alt="{{ skill_block.image_alt }}">
                </div>
                <div class="image-with-text__content">
                    <h3 class="h3">{{ skill_block.title }}</h3>
                    <p>{{ skill_block.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>