<section class="section section--slider">
    <div class="section__inner slider--fade-in">
        <h2>Work</h2>
        <div class="slider">
            <div class="slider__inner">
                {% for work_block in site.data.work %}
                    <div class="card">
                        <div class="img__container">
                            <img src="{{ work_block.image_src }}" alt="{{ work_block.image_alt }}">
                        </div>
                        <div class="card__content">
                            <h3 class="h3">{{ work_block.title }}</h3>
                            <p>{{ work_block.description }}</p>
                            <a class="button" href="{{ work_block.link }}">Check it out</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>