<section class="section section--slider">
    <div class="section__inner slider--fade-in">
        <h2>Work</h2>
        <div class="slider">
            <div class="slider__inner">
                <div class="card">
                    <div class="img__container">
                        <img src="assets/images/3-2 placeholder.png">
                    </div>
                    <div class="card__content">
                        <h3 class="h3">Example title</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium lorem neque, a luctus tellus malesuada non. Proin vel dictum eros, pretium faucibus nibh. Etiam rutrum quam dui, in vulputate neque tincidunt faucibus.</p>
                        <a class="button" href="/">Check it out</a>
                    </div>
                </div>

                <div class="card">
                    <div class="img__container">
                        <img src="assets/images/3-2 placeholder.png">
                    </div>
                    <div class="card__content">
                        <h3 class="h3">Example title</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium lorem neque, a luctus tellus malesuada non. Proin vel dictum eros, pretium faucibus nibh. Etiam rutrum quam dui, in vulputate neque tincidunt faucibus.</p>
                        <a class="button" href="/">Check it out</a>
                    </div>
                </div>

                <div class="card">
                    <div class="img__container">
                        <img src="assets/images/3-2 placeholder.png">
                    </div>
                    <div class="card__content">
                        <h3 class="h3">Example title</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium lorem neque, a luctus tellus malesuada non. Proin vel dictum eros, pretium faucibus nibh. Etiam rutrum quam dui, in vulputate neque tincidunt faucibus.</p>
                        <a class="button" href="/">Check it out</a>
                    </div>
                </div>

                <div class="card">
                    <div class="img__container">
                        <img src="assets/images/3-2 placeholder.png">
                    </div>
                    <div class="card__content">
                        <h3 class="h3">Example title</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium lorem neque, a luctus tellus malesuada non. Proin vel dictum eros, pretium faucibus nibh. Etiam rutrum quam dui, in vulputate neque tincidunt faucibus.</p>
                        <a class="button" href="/">Check it out</a>
                    </div>
                </div>

                <div class="card">
                    <div class="img__container">
                        <img src="assets/images/3-2 placeholder.png">
                    </div>
                    <div class="card__content">
                        <h3 class="h3">Example title</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium lorem neque, a luctus tellus malesuada non. Proin vel dictum eros, pretium faucibus nibh. Etiam rutrum quam dui, in vulputate neque tincidunt faucibus.</p>
                        <a class="button" href="/">Check it out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>