.section--parallax {
    min-height: 200px;
    overflow: hidden;
    @media screen and (min-width:500px) {
        min-height: 250px;
    }
    @media screen and (min-width:750px) {
        min-height: 300px;
    }
    @media screen and (min-width:1000px) {
        min-height: 500px;
    }
    @media screen and (min-width:1250px) {
        min-height: 600px;
    }
    @media screen and (min-width:1500px) {
        min-height: 700px;
    }
}

.section--parallax img,
.section--parallax video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: contrast(0.7);
}

.section--parallax img::after,
.section--parallax video::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}