.section--parallax {
    min-height: 400px;
    overflow: hidden;
    @media screen and (min-width:1000px) {
        min-height: 500px;
    }
    @media screen and (min-width:1250px) {
        min-height: 600px;
    }
    @media screen and (min-width:1500px) {
        min-height: 700px;
    }
}

.section--parallax:first-of-type {
    min-height: 100vh;
    align-items: center;
}

.section--parallax-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-attachment: fixed;
    background-position: 50% 25%;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.3);
}

.section--parallax-1 .section--parallax-bg {
    background-image: url(/assets/images/background-parallax-1.jpg);
}

.section--parallax-2 .section--parallax-bg {
    background-image: url(/assets/images/background-parallax-2.jpg);
}

.section--parallax-3 .section--parallax-bg {
    background-image: url(/assets/images/background-parallax-4.jpg);
}

.section--parallax-video {
    height: 300px;
    @media screen and (min-width:1000px) {
        min-height: 400px;
    }
}

.section--parallax-video video {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top:0;
    z-index: -999;
}